@use "sass:map";
@import "theme";
html,
body {
  margin: 0;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: map-get($map: $theme-colors, $key: "main");
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-3 {
  flex: 0 0 30%;
  max-width: 30%;
}
.col-4 {
  flex: 0 0 40%;
  max-width: 40%;
}
